<template name="postsList">
    <h4 class="page-header">PostsList</h4>

    {{posts}}

    {{#each postsWithRank}}
        {{> postItem}}
        <hr/>

    {{/each}}
</template>

<template name="postItem">
    <strong>{{user.screen_name}}</strong>
    {{text}}
    <small>{{created_at}}</small>
</template>